$leftWidth: 200px;

::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
    background-color:rgba(255,255,255,1);
    border-radius: 3px;
}
::-webkit-scrollbar {//滚动条的宽度
    width:6px;
    height:6px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
    background-color: rgba(0,0,0,.3);
    background-clip:padding-box;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
    .home{
        width: 840px;
        height: 640px;
        margin: auto auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        .left{
            width: $leftWidth;
            background-color: rgba(0,0,0,.60);
            >h2{
                width: 100%;
                height: 80px;
                line-height: 80px;
                text-align: center;
                font-size: 24px;
                font-weight: 400;
                color: #C6D3E0;
                >span{
                    margin: 0 10px;
                    color: #f0f0f0;
                }
            }
            >h3{
                padding-left: 30px;
                font-size: 18px;
                font-weight: 400;
                color: #C6D3E0;
                margin-bottom: 10px;
                >span{
                    margin-left: 60px;
                    color: #f0f0f0;
                }
            }
            >p{
                padding-left: 30px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                font-weight: 400;
                color: #C6D3E0;
                position: relative;
                >span{
                    margin-left: 60px;
                    color: #f0f0f0;
                }
                >img{
                    position: absolute;
                }
            }
            >p:nth-child(n+8){
                >span{
                    margin-left: 92px;
                }
            }
            .controller{
                width: calc(100% - 60px);
                height: 150px;
                margin-left: 30px;
                background-color: rgba(255,255,255,.3);
                display: flex;
                flex-wrap: wrap;
                .controller_list{
                    width: 32px;
                    height: 32px;
                    background-repeat: no-repeat;
                }
            }
        }
        .right{
            width: 640px;
            position: relative;
            >canvas{
                position: absolute;
                top: 0;
                left: 0;
            }
            .right_panel{
                width: calc(100% - 64px);
                height: calc(100% - 64px);
                position: absolute;
                top: 32px;
                left: 32px;
                background-color: rgba(0,0,0,.7);
                overflow-y: auto;
                overflow-x: hidden;
                .right_panel_item{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    >div{
                        margin-left: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.tips{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    >span{
        display: inline-block;
        width: 400px;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        padding: 15px 20px;
        border-radius: 5px;
        transition: .5s;
        position: relative;
        right: -$leftWidth/2;
        opacity: 0;
    }
}